[2016-07-26 06:21] beaufortfrancois opened #1 "Demo player doesn't work on Chrome OS"
I get a JS error caused by accessing `platform[0]` in Chrome OS cause `ua.match` doesnt' check for `cros`. See

[code]

[2016-07-26 09:33] PixelPartner opened #2 "Please specify what mobile browser versions are supported right now"

[2016-07-26 09:39] danrossi opened #3 "MediaSource support"
Well done on this project. I was wondering if there is a possibility for mediasource support as in Mpeg Dash packaged audio and video ?

If the audio is packaged with the spatial audio tool and then packaged to Mpeg Dash. Would this work ?

According to this it would need to append to a seperate audio tag, then the audiocontext  correct ?

https://developer.mozilla.org/en-US/docs/Web/API/AudioCont

[2016-07-26 13:24] brianchirls commented on #2
Yes please. Or better yet, is it possible to feature-detect rather than whitelist/blacklist by user agent?

[2016-07-26 13:53] brianchirls commented on #2
Having read further, I think I understand this better now. It looks like Omnitone uses `createMediaElementSource` to get its audio data from a video or audio element. This feature is broken in a number of browsers, and it is impossible to feature detect because the method exists on an `AudioContext` object.

- Seems to be broken in Mobile Safari, at least for iOS 9.3. The [bug ticket](https://bugs

[2016-07-26 14:02] brianchirls opened #4 "Output to AudioNode"
Is it possible to pass the output through another `AudioNode`? I like to use a single `GainNode` for muting and adjusting volume of the entire experience in one place.

[2016-07-26 14:33] winduptoy opened #5 "'InsufficientQuota' error while accessing demo contents"
Demos on https://googlechrome.github.io/omnitone/#gallery don't load.

Seems like an App Engine over quota issue. When trying to load [https://storage.googleapis.com/omnitone-demo.google.com.a.appspot.com/resonance-1080p-h264-aac.mp4](https://storage.googleapis.com/omnitone-demo.google.com.a.appspot.com/resonance-1080p-h264-aac.mp4) I get `InsufficientQuota` error.

[2016-07-26 15:24] hoch commented on #5
I think the coast is clear now. Can you try again?

[2016-07-26 15:26] hoch commented on #4
This can be done, but not the intended usage. It might be better to have adjustable volume control in the virtual speaker array, so you can dynamically change the volume. Will add this in the next update.

[2016-07-26 15:28] hoch commented on #1
Oops. Will fix this pretty soon.

[2016-07-26 15:38] winduptoy commented on #5
@hoch Same deal even after a hard refresh.

<img width="1427" alt="screen shot 2016-07-26 at 11 36 17 am" src="https://cloud.githubusercontent.com/assets/270504/17144636/651620e0-5325-11e6-805b-001da8d6351b.png">

[2016-07-26 16:32] danrossi commented on #3
I apologise I spoke on facebook I'll close this for now until I test it's possible. I'll repeat what I said there.

So you apply a video element reference and the audiocontext will create the source from that correct ?

This is some code I saw in the main demos that is not in the docs

[code]

So if that is all that is required, my question regards to mpeg dash streaming should work also. Assuming

[2016-07-26 16:32] #3 closed

[2016-07-26 18:22] hoch commented on #5
Are you still experiencing the issue?

[2016-07-26 18:37] hoch commented on #2
@brianchirls

You diagnosis is pretty close, but here are the reasons behind this coarse UA gating. I am blocking the entire mobile browser due to the incomplete implementation.

- Safari iOS cannot decode the multichannel audio at all. FOA ambisonics requires a 4-channel audio stream.
- Chrome iOS runs WebKit inside, not Blink rendering engine. You'll have the same issue with Safari iOS.
- Chrome

[2016-07-26 18:44] bryik opened #6 "Demo player does not work (Win 10, Chrome)"
![omnitone](https://cloud.githubusercontent.com/assets/12419712/17150711/7a34353e-533e-11e6-9b11-e3f6a9c9c70f.png)

I get the same error in Firefox as well.

Similar issue as ["Demo player doesn't work on Chrome OS"](https://github.com/GoogleChrome/omnitone/issues/1)?

[2016-07-26 18:45] hoch commented on #6
Are you running this on Windows 32 bit?

[2016-07-26 18:45] bryik commented on #6
Windows 10, 64 bit

[2016-07-26 18:46] hoch commented on #6
Can you post the stack trace? (click the triangle on the left and copy-paste the error messages here.)

[2016-07-26 19:21] moxian commented on #5
Yes. I still get the following when trying to access https://storage.googleapis.com/omnitone-demo.google.com.a.appspot.com/resonance-1080p-h264-aac.mp4 :

`<?xml version='1.0' encoding='UTF-8'?><Error><Code>InsufficientQuota</Code><Message>The App Engine application does not have enough quota.</Message><Details>NOT_ENOUGH_QUOTA: App s~google.com:omnitone-demo does not have enough quota</Details></

[2016-07-26 19:45] rtoy commented on #6
I have the same problem  It comes from platform = ua.match(); it fails to match on my system. I'll get more detail when I try it out again on my system.

[2016-07-26 20:19] hoch commented on #6
@bryik What is the result of this code in your console?

`window.navigator.userAgent`

[2016-07-26 20:45] bryik commented on #6
Running that returns:

`"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36"`

Odd that you can't reproduce. I tried it on a friend's laptop (also Windows 10) and got the same error.

[2016-07-26 21:13] hoch commented on #6
Yeap. That was it - there are some machine returns 'WOW64' in the UA string. The demo player cannot detect it at the moment. Now I know what to fix. Thanks!

[2016-07-26 21:22] hoch commented on #6
@bryik Can you try the demo player with the fix? You might have to hard-refresh the browser to get the updated player.

[2016-07-26 21:23] hoch commented on #1
@beaufortfrancois Just confirmed the fix on my Pixel. Can you try the player again?

[2016-07-26 21:28] bryik commented on #6
It works!

Awesome demo BTW!

[2016-07-26 21:28] #6 closed

[2016-07-26 23:39] hoch commented on #5
The hard refresh won't help. It seems like we really are over the daily quota at certain time zones. I will check it out tomorrow again.

[2016-07-27 02:12] follower opened #7 "Provide easy way to enable debug mode in demo player"
It would be helpful to provide a way to enable debug mode from within the browser. e.g. Add a "try to play anyway" button to the toast message or enable the debug mode state to be specified in the URL.

The information regarding mobile browser support is currently fragmented and confusing. The main source seems to be https://github.com/GoogleChrome/omnitone/issues/2 which specifies:

The Beta is c

[2016-07-27 06:37] beaufortfrancois commented on #1
It still doesn't work for another error I believe. See

[code]

![screenshot 2016-07-27 at 8 36 18 am](https://cloud.githubusercontent.com/assets/634478/17166108/4659b058-53d5-11e6-9559-388c2851375c.png)

[2016-07-27 10:18] hoch commented on #1
That is the different issue - #5. I am working on it at the moment.

[2016-07-27 10:30] beaufortfrancois commented on #1
Thanks!

[2016-07-27 10:30] #1 closed

[2016-07-28 06:24] beaufortfrancois commented on #5
For info, I'm still seeing the `InsufficientQuota` error in France now.

[2016-07-28 08:38] hoch commented on #5
@beaufortfrancois Yes, I am still figuring out why this issue happens to visitors from a certain area. Thanks for following up!

[2016-07-28 08:47] chrispike-bbc opened #8 "Convolver normalize attribute is true"
The ConvolverNode has a parameter normalize which is set to true by default. This adjusts the level of the impulse response based on the RMS value in an attempt to normlize the level of various impulse responses that developers use. It could cause undesirable effects in your spatial audio rendering with multiple HRIRs since they will adjusted by different amounts by this algorithm. Normalize shoul

[2016-07-28 09:00] hoch commented on #8
Yes. This will be fixed.

[2016-07-28 15:40] hoch commented on #8
Fixed with 2a961b78f3daee4106e89ee41271d0a066ab15c2.

[2016-07-28 16:10] hoch commented on #5
I believe the issue is solved on the server side, but it might take hours to propagate all the changes. Can I ask you to try again in few hours?

[2016-07-29 07:09] beaufortfrancois commented on #5
It works great! What a wonderful experience! Thanks!

[2016-07-29 08:32] hoch commented on #5
@moxian @winduptoy Can you verify as well?

[2016-07-29 11:09] DrWig opened #9 "Element has no supported sources"
On Chrome on both Mac and PC clicking the play button on the simple demo.html example gives me:

"VM39 demo.html:44 Uncaught (in promise) DOMException: The element has no supported sources."
line 44: audioElement.play();

Demos on the omnitone website work fine, though....

[2016-07-29 11:40] winduptoy commented on #5
Works! Thanks!

[2016-07-29 11:40] #5 closed

[2016-07-29 16:52] hoch commented on #9
How do you run the demo? You have to run the local web server on the root of the project directory.

[2016-07-30 12:41] danrossi commented on #9
Run a python local server ie

[code]

[2016-07-30 14:08] danrossi opened #10 "Safari Channel Order Helper"
I'm not sure if this is correct but I believe something like this could help dynamically fix the safari channel order from the original channel map config.

This Is what I have implemented according to the documentation.

If this works would this be of interest to add as a global static util ?

[code]

[2016-07-30 18:15] danrossi commented on #2
@hoch. I've tested on my Android 4.3 Samsung S3. This device has given me quite a bit of trouble so not a good performance test.

Firefox stable / nightly

If the feature is enabled at all. Doesn't matter what mode is chosen, I'm suffering severe cpu issue and the audio is stuttering. It is also affecting webgl rendering, it's dropping frames. If I don't enable the feature Firefox will decode the

[2016-07-30 20:24] DrWig commented on #9
ah, ok.  Apologies!

cheers

Bruce

On Sat, Jul 30, 2016 at 1:41 PM danrossi <notifications@github.com> wrote:

[2016-07-30 20:24] DrWig commented on #9
and thanks, of course!

cheers

Bruce

On Sat, Jul 30, 2016 at 9:23 PM Bruce Wiggins <bruce.wiggins@gmail.com>
wrote:

[2016-07-30 20:25] #9 closed

[2016-08-01 16:40] #8 closed

[2016-08-01 16:53] hoch commented on #2
@danrossi

I haven't tested FF mobile for this project. So I am not sure what the current status is and appreciate the report you wrote here. Please share your experience and file a bug report to [Bugzilla](https://bugzilla.mozilla.org/) if necessary.

I don't have an S3, but Chrome Dev channel on Nexus 5 shows decent performance. No glitching and smooth visual. However, somehow Nexus 5X and 6P pr

[2016-08-01 16:57] hoch commented on #10
Thanks for your contribution, but this feature is already in the code:
https://github.com/GoogleChrome/omnitone#foadecoder
https://github.com/GoogleChrome/omnitone#foarouter

FYI, this is much faster than splicing array.

[2016-08-01 16:57] #10 closed

[2016-08-01 18:18] danrossi commented on #2
Firefox Android stable is ok with the default audio demo. There is no video example.

I'll try and create a very basic fiddler demo with your demo videos then. without webgl going. Just to check it performs ok.

If it still does it with that, what should I file in mozilla bugzilla in regards to audio api ?

I don't have content of my own but I have to figure out from scratch how to produce it hope

[2016-08-01 19:28] danrossi commented on #2
There is more. Chrome dev won't display the webm only the mp4 file so there is a source issue and possible why I get black frames in webgl.  Both versions are dropping frames. So have to re-encode these for testing purposes.

Chrome stable will play back the audio without omnitone enabled and then obviously won't work with it enabled.

Firefox seems to play both the mp4 and webm but stuttering. I

[2016-08-02 07:56] danrossi commented on #2
Ok I've run FFprobe through the demo video. High profiles don't work on mobile at all. The audio bandwidth is 512kb also.

I know Android Chrome complains with Mpeg Dash with high h264 profiles. I'm going to produce a couple of downscaled videos to properly check Android functions for now at least in both mp4 and webm.

Then check Mpeg Dash formats although it seems Youtube has activated audio api

[2016-08-02 08:59] danrossi commented on #2
Firefox stable plays fine with this file. So perhaps its a video performance issue. I'll try and make a 720p and see what happens.

http://videos-electroteque-org.s3.amazonaws.com/ambisonics/fuerza-imprevista-360p-vp9-vorbis.webm

I made the bitrate 320k. The video dimensions is 360p.

Firefox can play the mp4 also but it's more glitchy. Firefox desktop won't decode h264 so needs to be vp9 / vorbi

[2016-08-02 13:41] danrossi commented on #10
Are you saying it  is ordering internally already for Safari sorry ? Or externally it is required to manually reorder for Safari depending what the custom channel order is ?

It's confusing what is required in regards to that config that is all.

I've implemented it here so the user doesn't have to do anything at all to treat it differently for Safari. I've tested Safari now and it seems to be wor

[2016-08-02 15:18] danrossi commented on #2
Sorry to keep spamming you.

Chrome stable was ok with the scaled down webm rendering the video.  But after a reinstall, audio is fine but no video again.

Chrome Dev video is rendering finally but audio cuts out and frames are dropping without Omnitone enabled. With Omnitone enabled it cuts out completely due to performance issues.

So lets just say it definitely works with Chrome but only on new

[2016-08-02 15:46] hoch commented on #2
@danrossi You can't transcode the video and upload it to a public data storage. Jaunt VR allowed us to use the video only inside of the demo player. (it is clearly stated in the demo gallery - in case you missed it)

Could you please take it down?

[2016-08-02 15:49] hoch commented on #2
@danrossi Thank you so much for your exhaustive testing on mobile browsers. I will read up your comments and try to summarize/evaluate the situation again.

[2016-08-02 16:01] hoch commented on #10
@danrossi You can do whatever you want in your package and I appreciate your effort on that. It is really nice to have a package that connects Omnitone and Three.js. However, I want to keep the channel rerouting option flexible within Omnitone. I don't want to make things special only for Safari.

Regarding the sound quality, I suggest you to file another entry for that. It is not relevant to this

[2016-08-02 17:15] danrossi commented on #2
@hoch.

I apologise for that I didn't realise there was a licensing issue. It is a very noisy soundtrack anyway, not the best. It does help with catching frame dropping and audio sync issues though.

I have reached out to try and get a better demo to continue testing mobile.

I might try and create a surround "atmos" mix to ambisonics and use an panorama image for a demo video also.

[2016-08-02 21:00] danrossi commented on #10
That is what I'm trying to figure out and glean information from.

The documentation is a little confusing.

I'm remapping whatever is sent to it according to the order Safari needs. If that is wrong then it would be good to know although it seems to work. I don't believe there should be the need for two different configs if it can be done dynamically I think.

The method was just a static helper

[2016-08-03 16:02] hoch commented on #7
Fixed with ea1b7ba9e8a46265ea0624a6c4092285a7205b8b.

- Click `settings` icon in the gallery toolbar and you're in the debug mode.
- The demo player will be launched in the debug mode, that bypasses all the platform/device check and plays the content.

[2016-08-03 16:02] #7 closed

[2016-09-08 19:55] jwerle opened #14 "Omnitone.LOG"
There are references to `Omnitone.LOG()` all over the place. This implies that `Omnitone` should be **global**. This causes a reference error to be thrown when this library is bundled with tools like browserify.

[2016-09-08 20:25] jwerle opened #16 "Release 0.1.4 to NPM"
The latest version is [0.1.2](https://www.npmjs.com/package/omnitone)

[2016-09-08 21:37] hoch commented on #16
Sure. I missed this - will update them (npm, bower) to 0.1.5.

[2016-09-08 21:38] hoch commented on #14
Good point! Thanks for the contribution as well. I'll merge the PR as soon as my comments are addressed.

[2016-09-08 22:07] #14 closed

[2016-09-09 18:19] jwerle commented on #16
👍

[2016-09-12 15:18] jwerle opened #17 "Release 0.1.5 to NPM"
Just putting this here as a reminder :]

[2016-09-12 18:39] hoch commented on #16
Closed by #18.

[2016-09-12 18:39] #16 closed

[2016-09-12 18:39] hoch commented on #17
Closed by #18.

[2016-09-12 18:39] #17 closed

[2016-09-12 18:54] jwerle commented on #17
@hoch thanks !

[2016-09-16 18:57] jwerle opened #20 "Release 0.1.6 to NPM"

[2016-09-16 20:53] hoch commented on #20
Fixed by https://github.com/GoogleChrome/omnitone/commit/29a04677778fcbb88db2979914cb7f1233de88cf. Closing.

[2016-09-16 20:53] #20 closed

[2016-09-16 21:00] jwerle commented on #20
@hoch thanks !

[2016-09-18 15:21] PoC22 opened #21 "Is it possible to link Omnitone to Google VR View?"
Rather than video, is it possible to show a static 360º image (say via VR View) and play an Ambisonic file that is linked to the viewpoint of the 360º VR View photograph?

[2016-09-18 15:23] PoC22 opened #22 "Real World Examples of Omnitone in Use?"
Besides the two demos included here, does anyone have their own examples of using Omnitone on the web?

[2016-09-18 20:24] hoch commented on #21
It's on the project roadmap. Will update this issue when it lands.

[2016-09-18 20:27] hoch commented on #22
I know there are few people trying to integrate Omnitone into their projects, but I don't have a comprehensive list. Also it's only been less than two months, so I think people are mostly at the exploring stage.

If you have anything interesting, please let me know! :)

[2016-09-18 22:18] PoC22 commented on #21
Thank you.

The scenario I'm looking at is producing a 90 minute audio podcast in Ambisonic sound and then linking it to a static (say _Ricoh Theta S_) 360º image that people can look around in using VR View (already have VR View working).

My assumption is that the Ambisonic file would be 128 or 160 kbps AAC format due to length of the recordings!

[2016-09-19 16:06] hoch commented on #21
I don't think we need tight integration between VR view and Omnitone to achieve this. It seems like only thing that needs to be shared is the `rotation matrix`, feeding from VR view to Omnitone.

[2016-09-19 16:09] PoC22 commented on #21
So, not too difficult to achieve?

[2016-09-19 16:13] hoch commented on #21
No. I think it is on the easy side. I will do some fiddling and report back here soon.

[2016-10-02 13:46] PoC22 commented on #21
New ambisonic microphone and recorder appearing next month, so will be interested to see how this match-up goes.

[2016-10-03 18:09] hoch commented on #21
Could you share the name of devices that you're planning to use? I would like to try as well.

[2016-10-06 20:02] afgenovese opened #23 "Can we use omnitone for live streaming?"
I want to pair 360 video with ambisonics, and stream live it on the internet (delay is acceptable for stitching and pairing). Can omnitone be a solution for this issue? What are the possibilities for live VR reproduction?

[2016-10-06 20:41] hoch commented on #23
That's a good question. Theoretically, [MediaStreamAudioSourceNode](https://webaudio.github.io/web-audio-api/#idl-def-MediaStreamAudioSourceNode) supports the streaming. However, I don't think any browser supports the multichannel streaming more that 2 at the moment. If MediaStreamAudioSourceNode supports up to 4 channels, it will work with Omnitone without any issue.

If you want to have multicha

[2016-10-06 22:38] hoch commented on #23
FWIW, this is the existing bug entry:
https://bugs.chromium.org/p/chromium/issues/detail?id=453876

In short, if your streaming set up requires the microphone input from getUserMedia API, it's not going to be possible anytime soon. However, if you want to relay the video streaming from the server (not the web browser) I think it might work through MediaStreamAudioSourceNode.

[2016-10-10 17:37] fredlemieux opened #24 "Video and audio out of sync/ Video lagging behind audio."
I'm really impressed by the Omnitone examples, except with the audio being out of sync with the video.

The video appears to be going slower that the audio.  If I press pause, when I start playing the video jumps forward to where it is supposed to be.  I thought that it may be an issue with it streaming over the net, so I've tried running the demo off my own via a localhost and still has the same

[2016-10-10 17:44] hoch commented on #24
I can't reproduce this issue with the current stable version of Chrome. (m53) What's your browser and version?

[2016-10-11 15:35] hoch commented on #21
The work has been started. The integration was fairly simple, and I am coordinating with the VR view team so Omnitone can be the default ambisonic decoder within.

[2016-10-12 13:08] PoC22 commented on #21
Excellent! looking forward to the results!

Re: Devices - Ambeo VR Mic and Zoom F4 (due November).

[2016-10-24 18:57] hoch commented on #24
@fredlemieux Can you provide more information?

[2016-10-24 18:58] hoch commented on #22
I am happy to present JauntVR's massive VR content gallery. Their new Compass player uses Omnitone for the spatialized audio.

https://www.jauntvr.com/

[2016-10-24 19:04] hoch opened #25 "Support TOA"

[2016-10-25 21:55] hoch commented on #2
I have tested "Resonance" video on Chrome Android Canary 56 and I confirmed Omnitone/demo player work flawlessly. I think it can graduate the 'debug mode' status.

@AdamSomers I am not sure why "Fuerza Imprevista" cannot be played on Android Chrome. It seems like the codec is not supported. Do you any clue?

[2016-10-26 05:51] danrossi commented on #2
@hoch I believe they have fixed the pipeline issues. WebGL is rendering properly with video textures in Chrome stable now so this would be working too.

[2016-10-26 12:18] hoch commented on #2
@danrossi I don't think that was the issue. The video worked fine even before M53. The audio was glitchy on some phones and my guess was the rendering quantum size.

[2016-10-26 13:21] danrossi commented on #2
@hoch I did get the glitchy frame dropping on the audio but reducing the video resolution fixed that in Firefox, Chrome was ok. You mentioned something about media pipeline before, and that was related to any kind of rendering in Chrome on my device. For 6 months webgl was not rendering video now it is thankfully.

[2016-11-04 17:26] PoC22 commented on #21
Are there any further updates on this yet?

[2016-11-04 17:42] hoch commented on #21
If you can't wait for the official update, take a look at this PR:
https://github.com/googlevr/vrview/pull/67#pullrequestreview-6099344

The update is planned and ongoing. Sorry that I cannot give you the exact timeline.

[2016-11-22 09:15] Drumaddict182 opened #29 "Not an issue but a request"
Hi everyone,

I'm a sound designer for video games and 360 videos and I'm really interested in ambisonic audio. I'm trying to make a simple 360 video player that can also play ambix mixing.

So i tried to make a video player in a html page by using the code that omnitone provide. But I'm really bad at coding so it doesn't work.

And i also tried to copy the code from the demo page but it doesn't w

[2016-11-28 23:36] hoch commented on #29
Can you explain your local set up?

https://github.com/GoogleChrome/omnitone/tree/gh-pages

Clone this branch and modify files with your content accordingly. That should work.

[2016-12-05 17:04] jwerle opened #30 "omnitone is ~50mb in npm"
omnitone is ~50mb in npm. We need to reduce this footprint asap

`du -h` reveals the very large size of the repository

[code]

*with a more verbose output:*

[code]

this can be solved with `.npmignore` or ` .files` directive in the `package.json` file. I'll have a PR coming shortly

[2016-12-05 17:33] hoch commented on #30
Yes, the problem here is media files for the example. Perhaps I should set up another repository only for the example and remove it from the core library.

[2016-12-05 18:09] #30 closed

[2016-12-09 09:48] Drumaddict182 commented on #29
It works by changing media files with mine. Thanks a lot. You are a life saver.

[2016-12-09 16:42] hoch commented on #29
Glad it worked out! Let me know if you have more feedback!

[2016-12-09 16:42] #29 closed

[2017-02-02 11:53] bbaudel-gpsw opened #32 "AudioElement.loop doesn't work on Firefox 50+"
If the sound has a loop property, the sound file is playing but there is no sound output.

[code]

This issue is also verified when calling `audioElement.pause();` when the end of sound is reached then
[code]

Can be verified on this sample : http://labs.plan8.se/ambisonics-webplayer/ with 0.1.8 version.

[2017-02-03 21:59] hoch commented on #32
Not sure if this is Omnitone's issue though. Omnitone does not affect any aspect of AudioElement. It simply uses the stream from the element. Can you repro the issue in FF without Omnitone? If so, I think you have file a bug to the FireFox bug tracker.

[2017-02-10 13:01] reech commented on #22
We are implementing Omnitone, synced with VRView images for our upcoming ambisonic sound library.
Examples can be found here:
[http://www.ambyss.com](url)

[2017-02-10 13:34] reech commented on #21
We have tried the PR [https://github.com/googlevr/vrview/pull/67#pullrequestreview-6099344](url) with 360 images instead of video. http://www.ambyss.com

[2017-02-10 17:39] hoch commented on #32
@bbaudel-gpsw Any feedback?

[2017-02-10 17:41] hoch commented on #22
@reech Thanks and congratulation!

However, the WebGL video renderer does not seem to be working well. Do you have a github repo for Ambyss project? I can file an issue against it with error log.

[2017-02-10 17:43] hoch commented on #21
@reech There seems to be an issue with the integration testing.

@borismus Boris, what was our next step for the integration? Should I provide some unit tests for Omnitone within VRView?

[2017-02-10 20:53] reech commented on #21
Hi, it is just a proof of concept which will stay open.
For now the repo is private since it is really bad and messy, and I leave it up to you guys to get it done correct. Sorry about that.
Anyway, here are some experiences, pitfalls and suggestions:

1. For best user experience I believe there should be 3 possibilities for the Omnitone integration in the VRView constructor:

- Video with stereo o

[2017-02-10 21:18] hoch commented on #21
Thanks for the notes. Some follow up questions:

Do you have a repro case for this? It seems like a browser bug. Chrome has a hard limit of 6 and FF does not have this limit. Closing a context and recreating one sounds okay. Note that you close the context, that will end of context lifetime and you cannot restart it.

Out of curiosity, why do you need multiple AudioContexts? (and multiple Omnitone

[2017-02-10 21:52] reech commented on #21
@hoch I tried to reproduce the error I had with reaching audiocontext limit, but it seems to work now without closing and recreating. My bad, sorry.
I don't need several AudioContexts or Omnitone decoders, just one, but I believe it should be possible to change the audio source (as is possible with the video or image source) with the VRView.setContentInfo() method in order to have one player and m

[2017-02-10 21:57] hoch commented on #21
Hmm. That's actually good point. My concerns are:
1) The change will abrupt and you will here glitches.
2) You don't have control over the timing of the transition.

You might want to set up 2 Omnitone decoders and crossfade each other, if you really want to have a smooth change.

[2017-02-11 17:15] reech commented on #21
@hoch To change the audioElement.src works fine with just one decoder,  the same is done in the Omnitone only demo I see now:
https://github.com/GoogleChrome/omnitone/blob/master/examples/demo.html
If it should be an audio fadeout/fadein on changing sources like with the fade-to-black when changing video source I am not sure.

It would be really nice to have omnitone as the default decoder in VRVi

[2017-02-13 09:49] bbaudel-gpsw commented on #32
@hoch I've no sound issue with a simple AudioElement which has the loop attribute or which is played when audioElement is ended.
But when Omnitone is activated and the sound is looped I've no sound anymore into Firefox browser but the audio file continue (currentTime is changing) without any sound. Works on Chrome.
So seems to be an Omnitone implementation issue or an AudioContext loss.

[2017-02-13 09:54] bbaudel-gpsw commented on #22
Omnitone audio & video implementation into a 360/VR JavaScript engine. https://forgejs.org
Spatial audio sample : https://forgejs.org/samples/ambisonics
GitHub : https://github.com/gopro/forgejs

[2017-02-13 19:19] hoch commented on #32
Okay, let me break down this issue:

Yes, this is how it should be.

You can't tell if the audio file continues or not. The context currentTime should be definitely running, but that does not mean that you're getting a valid stream from the audio/video element. One thing you can do is to plug an analyser node directly after MediaElementSourceNode in Omnitone. However, I doubt that you would get an

[2017-02-13 19:23] hoch commented on #22
@bbaudel-gpsw Thanks! It looks really cool.

[2017-02-13 19:57] hoch commented on #32
I just updated FF to v51 and the Omnitone demo went silent right after I pressed 'pause'. So I can confirm this is a regression from FireFox because it works fine on v50.

You can find FF v50.1 here: https://ftp.mozilla.org/pub/firefox/releases/50.1.0/

[2017-02-13 20:04] hoch commented on #32
@bbaudel-gpsw Thanks for catching this. It's really hard to cover all the browsers since I am the only one who actively works on this project.

[2017-02-14 08:19] bbaudel-gpsw commented on #32
Good analysis. By the way, it's a very nice job on Omnitone library. It's always difficult to act for all browser engines changes.

This FF issue can be the problem ?
https://bugzilla.mozilla.org/show_bug.cgi?id=1188496

[2017-02-14 10:00] padenot commented on #32
Yeah I just got aware of this yesterday, for some reason 51 (and only 51, 52 and up work fine) breaks `HTMLMediaElement` + `MediaElementAudioSourceNode` + setting `currentTime` on the `HTMLMediaElement`. I'm currently looking into the cause and figuring out what to do.

This is tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1337653

[2017-02-14 17:25] hoch commented on #32
@padenot Thanks so much, Paul!

I'll leave this issue open to track the progress.

[2017-02-14 17:26] hoch commented on #24
@fredlemieux Any feedback? Without triaging the issue properly, it's really hard to fix.

[2017-03-20 22:47] hoch commented on #4
Fixed with https://github.com/GoogleChrome/omnitone/pull/35. The new `FOARenderer` now behaves like an AudioNode. The README file will be updated accordingly.

See example [here](https://github.com/GoogleChrome/omnitone/blob/master/examples/foa-renderer.html).

[2017-03-20 22:47] #4 closed

[2017-03-20 22:51] hoch commented on #24
@fredlemieux It has been almost 5 months without feedback, so I am closing this. Please re-open the issue if the problem persists.

[2017-03-20 22:51] #24 closed

[2017-03-20 22:53] hoch commented on #32
@bbaudel-gpsw According the issue on bugzilla, this seems to be fixed. Can you verify in your application?

[2017-03-21 08:15] bbaudel-gpsw commented on #32
Fixed in FF 52.0.1. Thanks to the Mozilla team.

[2017-03-21 08:15] #32 closed

[2017-03-24 18:06] hoch opened #38 "Verify demo player 0.2.0 in Safari (Desktop)"
The spatialization seems to be incorrect in Version 10.0.3 (12602.4.8).

[2017-04-02 20:31] gzalles commented on #23
So essentially we can stream it but the user doesn't have control of what they see, it has to be directed on the server side? Just confirming.

[2017-04-07 17:53] jwerle opened #39 "0.2.0 is broken on NPM"
the `"main"` property in this projects [package.json](https://github.com/GoogleChrome/omnitone/blob/master/package.json#L5) file points to `src/main.js`. It should point to `build/omnitone.js` or `build/omnitone.min.js` so the module can be required correctly. Do you have a preference to which file in the `build/` directory that should be the "main" entry to the module?

cc @hoch

[2017-04-07 17:54] jwerle commented on #39
I'm going to open a preliminary PR the points to `build/omnitone.js`.
cc @vipyne

[2017-04-07 17:56] hoch commented on #39
Sure. I will take a look at the PR. I might have missed updating the package file.

[2017-04-07 17:59] jwerle commented on #39
Great, thanks !

[2017-04-07 18:33] #39 closed

[2017-04-07 19:05] jwerle opened #41 "Release 0.2.1 and publish to npm"

[2017-04-08 17:44] hoch commented on #41
Closing: https://www.npmjs.com/package/omnitone

[2017-04-08 17:44] #41 closed

[2017-04-08 18:21] hoch commented on #41
@jwerle Can you test if the new version is served correctly from NPM?

[2017-04-08 18:24] jwerle commented on #41
@hoch everything looks good on my end! thanks

[2017-04-08 18:25] hoch commented on #21
@reech The new FOARenderer in v0.2.x now behaves just like an AudioNode. You can create your own MediaElementSourceNode and feed the stream into Omnitone. Also the output Omnitone renderer needs to be connected to the destination. That way you can have a full control over the input and the output.

See here: https://github.com/GoogleChrome/omnitone/blob/master/examples/foa-renderer.html

[2017-04-08 18:28] hoch commented on #21
Unfortunately the VRView integration will not be pursued anymore. My plan is to make Omnitone more flexible/open for projects like Three.js and other WebVR projects.

Closing this issue as "Won't fix".

[2017-04-08 18:28] #21 closed

[2017-04-08 18:33] hoch commented on #2
I recently did some research on cross-browser/cross-platform support of Omnitone:
https://github.com/GoogleChrome/omnitone/wiki/Cross-browser-and-Mobile-support

As of April 2017, sadly iOS Safari still does't not support the decoding of multichannel audio stream (> 2ch). Any kind of meaningful spatial audio involves with more than stereo stream, thus iOS Safari cannot deliver it at all.

[2017-04-08 18:58] hoch commented on #23
Let me clarify my opinion:

1. __FOA stream capturing (browser) > streaming > FOA decoding/rendering (browser + Omnitone)__: this is not possible at the moment because the browser uses `getUserMedia()` to capture the audio and it does not support more than 2 channels on any browser at the moment. This API is managed by WebRTC team, so we have to ask them to enable the multi-channel support. ([Chro

[2017-04-08 19:00] hoch commented on #23
In short, Omnitone is media-type-agnostic. It simply decodes/rendered the FOA stream (4-channel) to the binaural audio stream no matter where the source comes from.

[2017-04-09 06:02] danrossi commented on #2
An absolute shame. I wonder if a native hook via cordova would be possible but maybe not.

[2017-04-25 13:02] Bartiff opened #47 "XHR Error"
Hi,

There is a problem with this link ?
_https://raw.githubusercontent.com/google/spatial-media/master/support/hrtfs/cube/_

I had to replace with this (line 1050 in omnitone.js)
`var HRTFSET_URL = 'https://raw.githubusercontent.com/GoogleChrome/omnitone/master/src/resources/';`

[2017-04-26 21:21] hoch commented on #47
Sorry for the late response. I should have coordinated more closely with the spatial media team before publishing the resources. I merged the patch from @zarov and will publish the updated NPM module as soon as possible.

Thanks for catching/reporting this!

[2017-04-27 19:23] hoch commented on #47
The #48 and the version update (https://github.com/GoogleChrome/omnitone/releases/tag/0.2.2) fixed this issue. Closing.

[2017-04-27 19:23] #47 closed

[2017-05-03 09:23] bbaudel-gpsw opened #50 "Change of default HRTF filters"
Seems the old one HRTF filters are not available anymore.
Sample : https://raw.githubusercontent.com/google/spatial-media/master/support/hrtfs/cube//E-35.26_A-135_D1.4.wav

cf. https://github.com/google/spatial-media/tree/master/spatial-audio and this pull request : https://github.com/google/spatial-media/pull/162

[2017-05-03 09:26] bbaudel-gpsw commented on #50
PR #48 solve it, sorry.

[2017-05-03 09:26] #50 closed

[2017-05-23 13:20] topherbuckley opened #51 "Error using npm test"
I am unable to run the npm test functionality as described in the readme. I'm running on Windows 10 using PowerShell. Here is the input and return I received.

<code>PS D:\Downloads\omnitone-master\omnitone-master> npm test

'node_modules' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! Test failed.  See above for more details.</code>

I opened up the

[2017-05-23 16:09] hoch commented on #51
Not familiar with PowerShell and I don't have any Windows machine that I can test against, but I think you can try this and see if it works:

[code]

My guess is that PowerShell does not know what to do with the path.

[2017-05-24 05:35] topherbuckley commented on #51
Thanks. I'll try that out tonight. May I ask which terminal you are using
for it to work? I have an ubuntu machine as well if you think I'd have
better luck on gnu-bash or otherwise.

On May 24, 2017 01:10, "Hongchan Choi" <notifications@github.com> wrote:

[2017-05-24 09:21] topherbuckley commented on #51
I tried

<code>./node_modules/karma/bin/karma start</code>

and Windows opened the "How do you want to open this file" asking for which program to use to open some file. I guessed and used Chrome, but only received a plain text display of the contents of the karma file:

<code>#!/usr/bin/env node

require('../lib/cli').run();
</code>

I also tried using cmd.exe but got the same output.

I'll try a

[2017-05-24 11:22] topherbuckley commented on #51
Tried on Ubuntu 16.04 using the gnu-bash terminal. Got this:

    node_modules/karma/bin/karma start

    START:

    24 05 2017 19:59:29.368:INFO [karma]: Karma v1.7.0 server started at http://0.0.0.0:9876/

    24 05 2017 19:59:29.369:INFO [launcher]: Launching browser Chrome with unlimited concurrency

    24 05 2017 19:59:29.382:INFO [launcher]: Starting browser Chrome

    24 05 2017 19:59:29

[2017-05-24 16:38] hoch commented on #51
Yes, I haven't tested the Karma system in Windows or Linux.

You've already found the fix and are I appreciated that you are willing to contribute your findings. I'll be happy to take a look at them. Feel free to create a PR!

[2017-05-29 08:24] topherbuckley commented on #21
Is there any documentation as to how to link omnitone with Three.js, WebVR, etc.? I tried linking it with VRView and couldn't get it to work, which is likely due to the fact that I couldn't properly link the rotationMatrix, but I'm not 100% sure yet.

I was trying to download a copy of demos on your "https://googlechrome.github.io/omnitone/#home" site for testing/fiddling purposes, but it seems th

[2017-05-30 03:46] topherbuckley commented on #51
Did a fresh install of this and found a much better way to make this work using the latest version of NodeJS. Adding PR now.

[2017-05-30 11:46] topherbuckley opened #54 "HRIR Link Broken"
README.md contains a link to the HRIRs which appears to be broken. The link under questions is [THIS](https://github.com/google/spatial-media/tree/master/support/hrtfs/cube), which is under the FOADeocoder (Fully-configurable) heading.

I noticed this hard link in a few other implementations of omnitone across the web and it always pops up in the web dev consoles as missing files. [HERE](https://g

[2017-06-02 18:09] hoch commented on #51
Please take a look at #55.

I think Karma test is designed for CI, not multi-platform local testing. If we want to expand the scope of testing, that should be a separate issue.

[2017-06-02 18:11] hoch commented on #54
Yes, it was a unfortunate decision made by me.

I have a plan to move all Omnitone's HRIRs to Google's static file server. Until then, all the HRIR files will be a part of Omnitone's own GitHub repository and I will keep monitoring them.

[2017-06-02 18:28] hoch commented on #54
Closed by #56.

[2017-06-02 18:31] hoch opened #57 "Move HRIR files to gstatic server"
Eventually HRIR files will be served via: https://www.gstatic.com/external_hosted

[2017-06-02 18:34] #54 closed

[2017-06-02 18:36] hoch commented on #23
Please re-open the issue if any question/problem remains.

[2017-06-02 18:36] #23 closed

[2017-06-03 02:01] topherbuckley commented on #51
Alright. Sorry, I was confused on the use of Karma I guess.

I'll update issue #55 if I get the chance to figure out local installs on
Windows at a later date.

On Jun 3, 2017 03:09, "Hongchan Choi" <notifications@github.com> wrote:

[2017-06-03 02:23] topherbuckley commented on #23
@hoch

I had a related question to your comments above. I can open another issue if you feel the need but,

In your README you have the following example code:

'''javascript
// Set up an audio element to feed the ambisonic source audio feed.
var audioElement = document.createElement('audio');
audioElement.src = 'audio-file-foa-acn.wav';
'''

Does this allow for direct references to video files as

[2017-06-15 15:19] #51 closed

[2017-06-26 05:01] topherbuckley opened #58 "Localization Problems"
I'm using [this setup](https://support.google.com/jump/answer/6399978?hl=en) to generate my ambisonics files, and pairing this with [this viewer](http://photo-sphere-viewer.js.org/)

Initially I thought things were working fine, but after playing around with the Ambix plugins within Reaper, and messing around with various locations on the sphere, I noticed some problems.

<h2>The case where it wor

[2017-06-26 15:52] hoch commented on #58
So "the exact front or back of the sphere" is the problem. Right?

My speculation is:
1. The matrix transformation from Three.js 4x4 camera might be incorrect for some edge cases.
2. Somehow Omnitone's new IRs are not compatible with the audio rendered from Reaper/Ambix plug-in.

@drewbitllama @ mgorzel WDYT about the second point?

[2017-06-26 16:25] mgorzel commented on #58
Re. 2, @topherbuckley could you check if the ambix_binaural_o1 plugin is definitely disabled on your master bus when you render to wav? From your description, is sounds like that could be the cause? Also, sharing the wavs could help to check if there is a problem with rendering?

The new Omnitone's IRs should be 100% compatible with the Ambix encoder in Reaper.

[2017-06-26 23:30] topherbuckley commented on #58
@hoch Yes, that is correct.

I tested this more specifically just now and set the ambix_encoder to exact front (elevation=90, azimuth=-90)

![image](https://user-images.githubusercontent.com/15166572/27564366-1a4c3cde-5b12-11e7-85c4-2feab0c6044e.png)

Then I offset the azimuth by 1 degree to -89.

![image](https://user-images.githubusercontent.com/15166572/27564386-39335204-5b12-11e7-9e48-8c2f17dd

[2017-06-27 04:16] topherbuckley commented on #58
@hoch You understand your code a lot better than I, but I'm curious why you think the matrix transformation from Three.js 4x4 camera might be incorrect for some edge cases, rather than some implementation in omnitone?

My guess would be the camera matrix is working just fine, but that somewhere in the omnitone code there is some multiplication by zero. I say that because, in the edge cases, 2 out

[2017-06-27 04:47] hoch commented on #58
@topherbuckley You got me wrong. I was saying my implementation of [this code](https://github.com/GoogleChrome/omnitone/blob/master/src/foa-renderer.js#L150) might be incorrect. I am also suspecting [this](https://github.com/GoogleChrome/omnitone/blob/61c03fa14959f26130b346911fe7fe0902501820/src/utils.js#L44) because it is the only place where multiplication is happening. So I will start from ther

[2017-06-27 09:08] topherbuckley commented on #58
@hoch I see. I will be busy with other things for the next few days, but I can help troubleshoot this and provide a demo of this issue later this week as well.

From a quick look though, I'm doubting it is in that exports.invertMatrix4 method since it only appears to deal with the camera matrix which shouldn't change between the two cases. If the multiplication by zero is sneaking in there somewhe

[2017-06-27 09:30] mgorzel commented on #58
@topherbuckley, yes, that's what I mean - there should be no binaural plugin enabled during export, so it looks correct. I've also had a quick look at your WAV renders - they look OK. No signal in certain channels is expected when you pan your source so that it coincides with the directions of Cartesian axes.

However, when you say that your source is in the front, it is in fact on top of the list

[2017-06-27 10:00] topherbuckley commented on #58
@mgorzel You nailed it! That makes a LOT more sense. I was just interpreting the ambix encoder sphere completely wrong. I re-rendered with elv and azm = 0, (front) and it works just as well as the right or left sides (elv = 0 azm = 90/-90)

Sorry for raising such a ruckus over my foolishness!

[2017-06-27 10:00] #58 closed

[2017-06-27 15:57] hoch commented on #58
Thanks @mgorzel for finding the root cause of the issue!

[2017-06-27 15:57] mgorzel commented on #58
NP! Glad that solved it!

[2017-07-13 12:56] wilschermarco opened #60 "Add a licence to this repository"

[2017-07-13 15:49] hoch commented on #60
It's right here: https://github.com/GoogleChrome/omnitone/blob/master/LICENSE

Do you need something else than this?

[2017-07-18 16:19] #60 closed

[2017-07-21 21:25] hoch opened #61 "[hoa-staging] Cleanup/refactoring hoa-rotator.js"

[2017-07-25 03:59] topherbuckley commented on #22
I'm working on this building acoustics simulator called Omny VR which provides auralizations for different noise isolation scenarios coupled with various common noise sources.

Still a couple of kinks to work out, but [here](http://omnyacoustics.com/vr_main.html) is the work in progress:

[2017-08-15 04:21] hoch opened #67 "[hoa-staging] Use stereo audio files for convolver."
The significant code of HOA, SOA support is actually splitting and merging HRIR files. Perhaps we should consider split them all into a pack of stereo files. This will reduce the setup time and the buffer duplication. For example:

- SOA
  - soa-1-2.wav, soa-3-4.wav, soa-5-6.wav, soa-7-8.wav, soa-9.wav
- HOA
  - hoa-1-2.wav, ..., hoa-15-16.wav

Also we do want to keep the information below in `src

[2017-08-16 00:08] drewbitllama commented on #67
that can work. i think we should re-visit the original implementation once >8 channel count files are allowed.

[2017-08-16 22:02] hoch commented on #67
I think this issue is orthogonal to the multichannel audio file issue. If we stick to the stereo files, it actually ensures the cross-browser support because all the browsers (including mobile ones) can decode it.

Can we have the original multichannel HRIR files (FOA, SOA, HOA) in our `src/resources`? Then I can write a script that generates a set of stereo files from the source.

[2017-08-16 23:18] drewbitllama commented on #67
Sure. They should all be there already.

On Wed, Aug 16, 2017 at 3:02 PM, Hongchan Choi <notifications@github.com>
wrote:

[2017-08-18 18:28] felicialim opened #69 "copyToChannel is unsupported in Safari/Edge"
When trying out HOA rendering with Songbird examples on Safari, we hit the following error:

TypeError: i.copyToChannel is not a function. (In 'i.copyToChannel(t.getChannelData(r),s+r)', 'i.copyToChannel' is undefined)

[2017-08-21 14:38] drewbitllama commented on #69
Should we just swap it with getChannelData or is there more needed to resolve the Safari issue? Also, do you know if this related to the lack of support on iOS?

[2017-08-21 15:37] hoch commented on #69
Yes, I am aware of this issue and kind of sad those two browsers are not really up-to-date. On FireFox, getChannelData() might behave funky once the buffer is used by other WebAudio nodes. copyToChannel() is a safe and recommended way of copying data without a race.

[2017-08-21 15:38] hoch commented on #69
Also thanks @felicialim for bringing this up!

[2017-08-21 18:57] hoch commented on #69
Fixed with https://github.com/GoogleChrome/omnitone/commit/77e26678a8d0d647a15f05fa8c58678a0bc61fc1.

[2017-08-21 18:57] #69 closed

[2017-08-21 18:57] hoch commented on #61
Fixed with https://github.com/GoogleChrome/omnitone/commit/77e26678a8d0d647a15f05fa8c58678a0bc61fc1.

[2017-08-21 18:57] #61 closed

[2017-08-21 18:58] hoch commented on #25
Now this is completed with https://github.com/GoogleChrome/omnitone/commit/77e26678a8d0d647a15f05fa8c58678a0bc61fc1.

[2017-08-21 18:58] #25 closed

[2017-08-22 19:45] hoch commented on #67
First of all, what's happening in Chrome M62 when you load up 112 audio files via XHR:

![screen shot 2017-08-22 at 12 26 47 pm](https://user-images.githubusercontent.com/676891/29583508-361daa02-8735-11e7-888e-6c8fa57c8a5a.png)

Chrome fires up 12 background threads to multiple decode files concurrently. So this means loading multiple stereo files instead of a big chunk of multichannel HRIR files

[2017-10-05 17:19] hoch commented on #67
Closed with https://github.com/GoogleChrome/omnitone/commit/df28933fc66d26b491b838204426c43ce535bd7e.

[2017-10-05 17:19] #67 closed

[2017-10-05 17:20] hoch commented on #38
Confirmed it's working on Safari with V1.

[2017-10-05 17:20] #38 closed

[2017-10-05 17:31] hoch opened #71 "Consider using BASE64 of HRIR data for synchronous loading"
Currently Omnitone's HRIR loading is asynchronous, mainly because it makes loading/decoding process non-blocking. Using BASE64 data for synchronous loading is reasonable considering the data size is not significantly large, but it's still a blocking process.

cc: @drewbitllama @mrdoob -
Would this be better for [Songbird](https://github.com/google/songbird) or the other Three.js-based WebVR apps?

[2017-10-05 17:34] drewbitllama commented on #71
The main point myself and Ricardo were considering was being able to support a single-file library that encapsulates all of the functionality. This would be ideal for portability as well as for offline applications. Given that the HRTFs are only 256x16 32-bit float values, it seems like a fairly small header increase in order to allow direct loading from within the library. This is also in line wi

[2017-10-05 18:19] hoch commented on #71
Oh, for the offline functionality. I haven't thought about that case. Omnitone usually requires a 360 video/audio stream from the server. So it assumes you have the active internet connection. :)

That's a perfectly valid use case. I'll find a way to encode HRTF to BASE64 and integrate to Omnitone. How urgent is this?

[2017-10-05 19:04] drewbitllama commented on #71
Moderately urgent.

[2017-10-09 19:28] hoch commented on #71
Some good news from the initial testing:

- PCM file loading vix XHR (core + PCM data)
  + FOA: 8.2KB + 4.5KB, Load time ~95ms (9ms to 104ms)
  + TOA: 8.2KB + 18.7KBm Load time ~305ms (7ms to 312ms)
- Unified Base64-encoded HRIR
  + FOA/TOA: 48.9KB, Load time ~43ms

So in overall, this might be a huge win for all of us. For, it's ~200% faster for FOA and ~700% faster for TOA. :) The minified libra

[2017-10-09 19:50] mrdoob commented on #71
These numbers look great to me! 👌

[2017-10-20 21:14] #71 closed

[2017-10-20 21:14] hoch commented on #57
With #72, this issue is now obsolete.

[2017-10-20 21:14] #57 closed

[2017-10-26 08:49] jrylander opened #73 "Code contains "let" which breaks (at least) uglify"
The library contains the keyword "let" and that broke uglifyjs which does not understand es6. Maybe transpile with babel?

[2017-10-30 16:44] hoch commented on #73
That's why it uses the beta version currently:
https://github.com/GoogleChrome/omnitone/blob/master/package.json#L25

This is because Omnitone coding style is enforced by Chrome/Google guideline.

[2017-10-30 16:47] jrylander commented on #73
Ok. I am just running it through babel now for it not to crash on uglify but most importantly older browsers. Tnx for the code! My intention was not to nag, only to help :)

[2017-10-30 16:52] hoch commented on #73
No worries. I am glad you brought this up - this record will help others who are wondering about `let` and `const`. :)

[2017-10-30 16:52] #73 closed

[2017-10-31 20:30] hoch opened #74 "Include SOA HRIR data"
The current HOA is missing the SOA support. Add HRIR data for SOA.

[2017-11-01 15:39] hoch commented on #74
Fixed by #75.

[2017-11-01 15:40] #74 closed

[2017-11-17 19:20] hoch opened #76 "Deprecate FOADecoder in favor of FOARenderer"
Remove the followings:

[code]

[2017-11-17 19:24] hoch opened #77 "Remove usage of PCM wave files over XHR"
Remove the followings:
[code]

[2017-11-17 19:30] hoch opened #78 "Unify HRIR generation process"
Currently generating monolithic HRIR data set has to be done manually. Unify the process, so it can be a part of the "build-all" script.

[code]

[2017-11-20 22:00] hoch opened #79 "Make landing page demos mobile-friendly"
Demos in the landing page does not work well on mobile phone.
- Check the current status of each mobile platform/browsers on how to handle multichannel audio file.
- Test the demos with Daydream View.

[2017-11-27 21:38] #76 closed

[2017-11-27 21:48] hoch commented on #78
Closed with https://github.com/GoogleChrome/omnitone/commit/1a1c94e1e2cea9b686d865f14cea14e5859ecdec.

[2017-11-27 21:48] #78 closed

[2017-11-27 21:48] hoch commented on #77
Closed with https://github.com/GoogleChrome/omnitone/commit/1a1c94e1e2cea9b686d865f14cea14e5859ecdec.

[2017-11-27 21:48] #77 closed

[2017-11-29 10:15] otteroe opened #80 "Thrown errors not catchable"
On Mac OS 10_11 (El Capitan), safari 9 HRIR does not lead properly, but gives this error:

[Error] [Omnitone] HOARenderer: HRIR loading/decoding failed. (@658.19ms)

This is for both HOA and FOA, this in itself might not be an issue for this project, but I am unable to catch the error in any way.
The error is thrown during the initialize() method, since that is a promise, the .then(success, error)

[2017-11-29 11:28] danrossi opened #81 "Reducing library size (optimization, packaging)"
Hi nice work with the changes. I have finally updated my helper modules which I will report back soon. It will handle both renderers and handle the correct matrix4 rotation from the  three camera now.

However the package filesize has increased. Is there a way to reduce and optimise this ?

There is some uneccessary code I can see I would like to somehow remove ie

https://github.com/GoogleChrome/

[2017-11-29 11:33] danrossi commented on #81
Also FOADecoder is deprecated so could be removed in a special build ?

There is other bloaty logger methods that could go too.

[2017-11-29 13:02] danrossi commented on #81
Stripping out uneccessary code bought it down 10kb already. I believe if this is changed to es6 and using rollup. It will reduce the bloat caused by webpack and the module code also ?

[2017-11-29 13:12] danrossi commented on #81
There is too many instances of logging code. not sure how to do conditional packaging. But a non debug version would be of interest.

[2017-11-29 13:18] danrossi commented on #81
not using webpack would be a bonus as its bloaty but this conditional support could be of interest

https://github.com/webpack/docs/wiki/list-of-plugins#defineplugin

[2017-11-29 15:03] danrossi commented on #81
This is a proof of concept using the defines plugin.  It was a bit of a wasted effort but after removing all debug logging and the polyfill which was in many places. It only recovered 4kb now sadly. Its a start.

https://github.com/danrossi/omnitone/tree/81-conditional-support

[2017-11-29 17:02] hoch commented on #81
@danrossi Dan - thanks for looking into this but please take a look at these first.

https://github.com/GoogleChrome/omnitone/releases/tag/1.0.5
https://github.com/GoogleChrome/omnitone/issues/71

The actual library size of ~40kB is a nice compromise considering it doesn't rely on XHR loading any more. Other VR projects consistency have been requesting this feature. Still, I agree with your point

[2017-11-29 17:04] hoch commented on #80
Is this Safari specific?

Thanks for reporting and I'll investigate soon.

[2017-11-29 17:20] otteroe commented on #80
Hrir loading/decoding is. But as I tried to specify, the issue of not receiving the exception is the bigger problem. And that can be provoked by providing faulty hrirPaths in the config.

Sorry if this was unclear.

[2017-11-29 17:41] hoch commented on #80
If the default HRIR is failing on Safari, I think that's a bigger issue for Omnitone. I assume you found this bug while trying custom HRIR files.

From my experience, Safari's dev tool is not good at notifying users when a promise fails. With that said, I agree that we have a bug in the exception handling.

[2017-11-29 20:11] otteroe commented on #80
Yes, but notice the version of Mac OS and safari this was tested on, it works fine on newer versions. No this was not found when testing custom hrir files, but when testing browser support.

[2017-11-29 20:23] hoch commented on #80
Thanks! Would love to know about the result of the browser support testing.

[2017-11-29 20:45] otteroe commented on #80
The browser testing is not as extensive as it perhaps should be. That older safari version is the only one so far.

[2017-11-30 01:45] danrossi commented on #81
Removing the logging didn't really take it down much. Maybe it's the base64 files taking up space. I guess nothing can be done about that.

What I can do is selective load into my app instead of bundle it. I know it's bloaty too but I use a trimmed down version of three.js with a custom build only including what is needed. It brings it down to 350kb and could go further removing all the shaders bu

[2017-11-30 14:11] danrossi commented on #81
I don't know if those changes are useful or else close it.

I've had to remove it from the bundle and sideload on demand when required like with the webvr polyfill.  The app will load them.

I don't know if much improvements can be made with the size. I thought I took out more at first.

This will serve the purpose.

[2017-11-30 19:52] #80 closed

[2017-12-06 18:15] danrossi commented on #81
You may close this if you wish.

I have the omnitone files side loading on demand in the project. So not bundled.

I have just figured out another three bundling optimisation that will strip out all the bundled shaders that are not needed. And the custom main file only exports the required modules. So has reduced it down to 260kb .

[2017-12-06 18:55] hoch commented on #81
@danrossi I want to use this as a tracking entry for all file size reduction issues.

FWIW, 1.2.1 stripped out all of deprecated FOADecoder stuff including outdated HRIR files. Also Omnitone will be served via Google's CDN in the near future, just so you know.

[2017-12-07 05:54] danrossi commented on #81
Ok not a problem. It might not be the best to attempt a PR from my branch. But you can see how compiler conditionals work to strip out all logging. It only reduced it by 4kb though .

It might be a possibility then of side loading like any other api like youtube api  from their cdn etc.

[2017-12-13 16:08] bbaudel opened #84 "Apply ambisonics to an audio file then to a video file result to a non playable video"
Here is the code using it. I will add a sample online soon (tested with Omnitone 1.0.6 and 1.2.1) :
https://github.com/gopro/forgejs/tree/alps-700-omnitone-fix
https://github.com/gopro/forgejs-samples/tree/alps-700-omnitone-fix

[2017-12-15 10:32] bbaudel-gpsw commented on #84
Here is the sample to execute on a localhost:
https://www.dropbox.com/s/ok3c101ej0r71mk/sample.zip?dl=0

Here is the sample online:
http://www.kolor.com/private_forgejs/projects/ambisonic/ to begin by an image scene with ambisonics audio (first scene)
http://www.kolor.com/private_forgejs/projects/ambisonic/#first-scene&uid=scene-2 to begin by a video with ambisonics (3rd scene)

[2017-12-15 10:36] bbaudel-gpsw commented on #84
Notes on the samples
* I've also noticed that the sound volume is not always the same and noise can happen in some cases.
* The global AudioContext used is the same for wav and mp4 files, and when a new scene is requested the FOARenderer is connected to it and disconnected from the previous scene.

[2018-02-01 18:51] hoch commented on #84
So sorry for the late response! (Was on vacation when the issue was filed...)

I am not sure if I understood the problem correctly. This is what I did:

1. Go to http://www.kolor.com/private_forgejs/projects/ambisonic/
  - The audio plays correctly. (scene 1)
2. Press ">" on the right.
  - The audio still plays correctly. (scene 2)
3. Press ">" on the right again.
  - No audio from the player. (sc

[2018-02-02 08:19] bbaudel-gpsw commented on #84
Yes exactly.
It can be linked to our audio implementation.
For image scene with ambisonics we instanciate an audio tag and a webaudio context which is destroyed when leaving the scene.
For video scene with embedded ambisonics we instanciate a video tag which is destroyed when leaving the scene.

[2018-02-02 17:59] hoch commented on #84
Have not looked at the code yet...

Can you keep the audio context and the Omnitone renderer? Why do you have to re-instantiate the whole thing for every scene?

The Omnitone renderer is simple and transparent, so all you need to do is the reset the rotation matrix to put it back to the initial state. There will be a tail of 256 samples from the convolution, but that's less than ~7ms. It should be

[2018-02-08 10:08] bbaudel-gpsw commented on #84
Thanks for your feedback.

I've tested with a SoundManager class which create a FOARenderer and connect it to the "global" audio context.
Then the Sound and Video classes now only connect the sound element source to the FOARenderer input when they are instanciated.

But I've exactly the same result.

Note: on some sounds or videos I'll be happy to switch between FOA and HOA renderer also, it's why

[2018-02-15 21:24] hoch commented on #84
Could you try it again with the latest version of Canary? I think it might have been a bug in Chrome's implementation and I fixed the issue a couple of days ago.

[2018-03-02 11:50] bbaudel-gpsw commented on #84
Same result with a few tests with the latest Canary version.

[2018-03-05 23:44] hoch commented on #84
Okay, I think this is related to an implementation bug in Chrome. Have you had a chance to try this out in FireFox?

[2018-03-13 21:27] hoch commented on #84
My bet is changing the source of MediaElement dynamically does not go well with the attached MediaElementSourceNode (which is a Chrome bug). For the workaround/hack, I suggest you to do this:

1. Create VideoElement
2. Set `src`.
3. Create MESN with the video element.
4. Connect to the Omnitone.

When changing the source:

1. **Disconnect** MESN from Omnitone.
2. Give it ~20ms.
3. Change the new `

[2018-03-13 21:30] hoch opened #90 "Better support for Three.js integration"
@drewbitllama

What can be done to support the Three.js integration better? We can consider adding new APIs for this purpose.

[2018-05-24 13:22] youssinsa opened #93 "Sound crackling with a html video element"
Hi !

Really nice work there.

I'm trying to use this in order to make a web player audio and video 360.

I was trying to use Omnitone with my audio files and there was no problem with that.

Then, I added a html video tag to my html page in order to connect the video sound to Omnitone and spatialize it. The sound is effectively spatialized, but I can hear like it's "crackling", a little disturbin

[2018-05-24 15:51] youssinsa commented on #93
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Example: FOARenderer (Optimized)
    </title>
    <script src="https://www.gstatic.com/external_hosted/omnitone/build/omnitone.min.js"></script>
  </head>
  <body>
    <h1>
      Example: FOARenderer (Optimized)
    </h1>
    <p>
      <code>FOARenderer</code> is an optimized ambisonic renderer based on the
      integrat

[2018-05-24 16:04] hoch commented on #93
Just curious. Have you tried with Chrome?

[2018-05-25 07:16] youssinsa commented on #93
Nope, because we can't do it with local files using chrome

[2018-07-06 07:59] madox35 opened #94 "Omnitone integration ES6"
Hello,

Is it possible to integrate Omnitone with ES6 ?
My issue :

[!] Error: 'omnitone' is not exported by node_modules\omnitone\build\omnitone.js
https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-exported-by-module
src\js\linkAudio360.js (2:9)
1: import videojs from 'video.js';
2: import { omnitone } from 'omnitone';
            ^

also tried : import { * as Omnitone } from 'omn

[2018-07-07 08:53] hoch commented on #94
ES6 module is currently not supported, but I believe this is easy to fix.

[2018-08-31 18:36] brianchirls opened #95 "Error installing fsevents dependency"
This package includes an old version of fsevents as an optional dependency. I'm [unable to install](https://github.com/strongloop/fsevents/issues/229) that package on my version of OSX with the latest Node engine. It's not absolutely necessary, but it does screw things up. The issue I reference seems to be fixed with newer versions of fsevents. But it's an exact version match, so it won't upgrade

[2018-08-31 18:49] brianchirls commented on #2
Revisiting this old issue now that some time has passed...

I see that `createMediaElementSource` is no longer required and that Omnitone will now accept an audio node. So presumably, even if the browser doesn't properly decode a four-channel audio file, we could load the channels separately and merge them, right?

According to the [Cross browser and Mobile support](https://github.com/GoogleChrome

[2018-08-31 19:02] hoch commented on #2
Yes. That was the intent of the change.

Yes, it is a great shim. However, I would like to minimize the dependency as much as possible. That library seems to be active and well-managed, so it is trivial to include it as a project needed.

I feel bad that we don't have enough documents on the current state of browser/mobile support. Hope I can come back and revisit the issue again in the near futur

[2018-08-31 19:29] brianchirls commented on #2
Awesome! Exactly what I'd asked for, delivered. I love when that happens.

Yeah, that's kinda what I had in mind. I've only needed the shim for a [scheduling quirk](https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Porting_webkitAudioContext_code_to_standards_based_AudioContext#Removal_of_AudioBufferSourceNode.playbackState_and_OscillatorNode.playbackState) that didn't have an easy wo

[2018-09-02 07:35] bossesand opened #96 "Documentation on supported media formats for HOA"
As I come from the Audio and computer but  not  from a recent  programming or web development environment, I am finding it very difficult to find some information that I consider basic.
It probably is but still it is hard to find written down.

As having recorded Ambisonics during 10 years my technical/programming questions are these,:

-  is it mandatory for all audio only HOA media to by split i

[2018-09-03 05:28] danrossi commented on #2
I have access to an S8 and Ipad with IOS beta. I can revisit and run some tests. I think it's a stretch to try and provide backward compatibility. Trying to test webvr on my old S3 was aweful and buggy in chrome.

Just provide a static compatibility method.

[2018-09-04 16:57] hoch commented on #96
Can you elaborate? Do you have an example to demonstrate this problem?

Omnitone does not have dependency on particular audio file format. The audio stream is commonly served via `<audio>` or `<video>` elements and decoding capability of these features are up to the browser. Unfortunately the multichannel audio support on HTMLMediaElement is very different across browsers.

Please take a look at t

[2018-09-04 17:00] hoch commented on #95
I think it is a part of dependency chain of ESlint, which is required by GoogleChrome org. I will try to update the package info, but could you let me know your version of Node engine and OSX?

[2018-09-04 17:19] brianchirls commented on #95
I'm running node v10.9.0 and OSX 10.13.6

I don't see it anywhere in the eslint dependency chain. It is in the chain for webpack, but I believe it should be a newer version.

Thanks.

[2018-09-05 15:29] hoch commented on #95
Thanks for looking into it. I will have some time to tackle it in this week.

[2018-09-06 11:14] bossesand commented on #96
https://github.com/GoogleChrome/omnitone/tree/master/examples/resources
Here are the example files that are Split to indicate that TOA files need sto be split...
I am using chrome and FF,
I might be mistaken, and the only issue is that I do not have HOAencoder activated,
If so I need a info on how to activate HOA deacoding, I do not read code fluently, I come more for the Ambisonic user side, I ha

[2018-09-06 19:42] hoch commented on #96
Like I mentioned, some browsers are not capable of decoding multi-channel audio file that contains more than 9 channel. That's why we have 2 files.

Now I want to use higher orders.,,

That's fine. I understand your situation and I would like to help you get the right set up. That's why I suggested to use [this example](https://github.com/GoogleChrome/omnitone/blob/master/examples/hoa-renderer.htm

[2018-09-06 21:09] bossesand commented on #96
Hi
I will send you one small  file, which is not really ambisonics but will
prove to me that all 16 channels are rendered.
If you could do an example that plays that with the SOA render and the TOA
rendere that would be great.
I will send it in opus

Here is a link and info from the creator of the other 2 files I test with,
I can ask if it would be allowed to create a public coding example code
us

[2018-09-06 21:15] bossesand commented on #96
Opus-America The Beautiful Octomic Second Order...
<https://drive.google.com/file/d/1FIwUXrB9kKFJEpBRqNWuqtY9MqURAI7G/view?usp=drive_web>

This is a second test file from Leonard that I have encoded in to Opus, He
Released it in wav but I cannaot finde the link at the moment....

BR Bo-Erik

Den tors 6 sep. 2018 kl 23:09 skrev Bo-Erik Sandholm <bossesand@gmail.com>:

[2018-09-06 21:18] hoch commented on #96
I've sent you an email, but you can use this issue for the further discussion. The issue is more about the decoding functionality of browser rather than Omnitone.

[2018-09-07 16:38] hoch commented on #96
Well, I sent the email to Len instead of you. :(

I made a working example out of the audio file you uploaded and it sounds okay, but I need to verify all the 16 channels are correctly streamed. This is because the opus format works a bit different way than others. (For example, Chrome's decodeAudioData() API could not decode your file whereas the audio element plays it fine.)

[2018-09-07 18:35] #95 closed

[2018-09-07 20:14] bossesand commented on #96
If you resend  the new code to me I can try and see if I  understand ...

I do not if is relevant but I  believe that the sound files are handled
differently depending on how they are received by Chrome.

I think there is a different decoding if read as a file or loading as a
stream.

In one case the TOA file has to be split into 2 * 8channel files, in the
other it is read as a file and can be dec

[2018-09-07 21:36] bossesand commented on #96
Great, is the same bug in Firefox I  wonder?
How about Vorbis would that work?
I know that new versions of libopus is suggested to support ambisonics as
opus audio tag 2 and 3... in the RC.

Bo-Erik

Den fre 7 sep. 2018 22:25Hongchan Choi <notifications@github.com> skrev:

[2018-09-07 21:50] hoch commented on #96
In the meantime, try this example:
https://rawgit.com/GoogleChrome/omnitone/exp-opus-multichannel/examples/hoa-player.html

You can simply drag and drop whatever the file you want. (Of course it needs to be either SOA or TOA to function correctly.) I could play your Opus file with it easily.

Not sure about FireFox, but @padenot could answer that question. (He's quite busy, but very attentive/resp

[2018-09-10 10:18] bossesand commented on #96
Hi
Sorry for the delay, I have now tested, I consider the example Fully
working in Chrome!
Thank you for your assistance. I have tested and the results are below

https://rawgit.com/GoogleChrome/omnitone/exp-opus-multichannel/examples/hoa-player.html

8 channels of in OPUS and VORBIS in ogg
 - Plays   BUT, beware default Vorbis + Opus encoding LP filters 8th
channel - depending on encoder settings

[2018-09-10 12:11] padenot commented on #96
Firefox supports Opus with channel mapping family 0, 1, 2 and 255.

There is a maximum of two channels for mapping family 0, 8 for family 1, and 255 channels for mapping family 2 and 255 (per spec), but there are some rules on the number of channels. Let us know if it's not working for you (the example linked here seem to work well).

[2018-09-10 15:19] hoch commented on #96
@bossesand Glad to head that it works okay! Omnitone currently doesn't support the mixed order, but you can easily reconfigure the channel mapping with Web Audio API's channel splitter/merger.

@padenot Thanks for following up! That's a nice information to have here in the issue tracker.

[2018-09-10 19:45] #96 closed

[2018-12-09 19:18] bossesand opened #98 "Update ex-opus-multichannel hoa-player with drag and drop to Main branche"
Hi
May I request that the hoa-player example in branch exp-opus-multichannel be modified and added in main branch.

Suggestions for improvements
 - Allow selection of files from resources directory for playback in addition to Drag and Drop Selection.
 - Create a drop down menu to allow selection files in resources to be chosen for playback.
 - allow resources to to contain single files with 16 cha

[2019-01-10 20:47] hoch commented on #84
@bbaudel The example above does not work correctly any more because of the recent Autoplay policy change. Could you check it out? I would like to revisit this because the problem might have been fixed in Chrome.

[2019-01-10 20:50] hoch commented on #93
Revisiting this after few months. Do you still get noise from the local demo on FireFox? If local media playback is the only problem, I think it's rather related to FireFox.

[2019-01-15 21:45] hoch commented on #94
After some exploration, I have decided to create two different types of library files:
1. omnitone.min.js (IIFE, just like old one)
2. omnitone.min.esm.js (ES6 module)

[2019-01-16 23:56] #81 closed

[2019-01-16 23:56] #94 closed

[2019-01-16 23:56] hoch commented on #81
I am not completely satisfied with the file size in 1.3.0, but it's what we have. Please open a new issue if you think there's more can be done.

[2019-01-16 23:57] hoch commented on #98
This will be addressed in 1.3.1. I started working on this.

[2019-01-17 01:36] danrossi commented on #81
That's ok not a problem. I'm now selective including the library now.

[2019-03-15 07:48] iooops commented on #90
Can you make it a smoother transition whenever a Listener/Source Position/Rotation is set? When I use a slider in Threejs to change the params, I always hear the clipping sounds, which is not so tolerable.

[code]

Maybe can change it like
[code]

[2019-03-15 16:09] hoch commented on #90
Thanks for suggestion! There are two things to consider.

1. We don't want to break things that are already using this function.
2. Also there's performance implication of using AudioParam automation.
3. Does linear interpolation of each value in the matrix make sense here?

1 or 2 is not a big deal, but I want to make sure about 3. These values are not directly related to the position or angle. T

[2019-03-15 19:25] iooops commented on #90
I tried linear interpolation using JavaScript. It did improve the performance a lot. But still I can hear the clipping sound when I’m sliding very fast.
It would be great if I can use the built-in omnitone/resonance audio function to do more precise smooth transition.

[2019-03-15 19:32] hoch commented on #90
Can you elaborate on "improve the performance a lot"? Does it use less CPU? Or you meant better audio quality (like less glitching)?

[2019-03-15 20:06] iooops commented on #90
Just less glitching compared to using it without interpolation. But still it has glitching.

[2019-03-15 20:12] hoch commented on #90
Thanks. `AudioParam.value = v` is identical to `AudioParam.setValueAtTime(v, t)`. So it is an instantaneous jump. No matter how you do it, it won't be sample-accurate interpolation.

On the other hand, `setValueAtTime` is much lighter than `linearRampToValueAtTime` function, but in this case I don't think it really matters in terms of the performance because it only has 9 AudioParams to deal with.

[2019-03-18 07:15] jaguarfi opened #101 "Airplane example does not work"
I tried to listen to the airplane example using the ambisonics configuration. But it does not work.

[2019-03-18 15:56] hoch commented on #101
Can you elaborate? What do you mean by "it does not work"?  Can you also provide a link to the problem?

[2019-03-19 08:34] VijaiAaditya commented on #93
It's problem with playing local content. Host in iis or node server. I thiNk it should work.

[2019-03-19 15:28] hoch commented on #93
I am closing this issue. Please re-open or create a new issue if needed.

[2019-03-19 15:28] #93 closed

[2019-03-20 06:56] jaguarfi commented on #101
It is working now. it maybe was a browser problem.
[https://rawgit.com/GoogleChrome/omnitone/master/examples/foa-renderer.html](url)

Thanks.

[2019-03-20 06:56] #101 closed, assigned to hoch

[2019-04-18 15:53] brianchirls opened #102 "Renderer setters don't work until after initialize promise resolves"
All of the setter methods on the renderers (e.g. `setChannelMap`, `setRotationMatrix3`) do nothing if they are called before the `initialize` promise resolves. There is no warning or error, and this behavior is not documented.

There isn't really any reason why these methods can't operate immediately, since they depend on objects created in `_buildAudioGraph`, which is run in the constructor, not

[2019-05-02 11:38] rgvieira opened #103 "Hoa-renderer"
I am trying https://github.com/GoogleChrome/omnitone/tree/master/examples/hoa-renderer.html
  Downloaded:
  resources
  hoa-renderer.html
  omnitone.min.js

  The problem:
        no trigger:
        Omnitone.createBufferList(audioContext, exampleSoundPathList).then((results) => {
          alert("Hallo 1")
        });
        trigger:
        toaRenderer.initialize().then((results) => {

[2019-05-02 20:07] rgvieira opened #104 "HOARenderer"

[2019-05-02 20:08] #104 closed, assigned to nobody

[2019-05-02 20:09] rgvieira commented on #104
Error.

[2020-07-07 03:59] bradisbell opened #105 "Using NPM-installed version with bundler"
After running `npm install omnitone`, I'm trying the following in my code:

[code]

This results in an empty object.  I see on the browser's console the Omnitone version statement logged, so I know the library is getting bundled and ran.

Any advice on how to properly `require()` this library?  I'm using Browserify for bundling.

[2020-07-29 17:40] gabrielwolf opened #106 "Content Security Policy and an 'unsafe-eval' Error"
Thank you for your amazing work!

If I open the examples on a simple local python http dev server, everything works as expected.

But when I upload the repo examples to my server I get the following error:

Chrome 84:
[code]

Firefox 78.0.2:
[code]

If I disable the header line in nginx `add_header Content-Security-Policy "default-src 'self' http: https: data: blob: 'unsafe-inline'" always;` the e

[2020-08-07 04:44] capnmidnight commented on #102
I had noticed that as well.

Between this issue, another bug in Omnitone that was swapping audio channels when using the higher-order ambisonic renderer, and the fact that this repo and Resonance haven't been updated in several years, I forked the two projects and fixed the issues here: https://github.com/capnmidnight/resonance-audio-web-sdk

[2020-08-15 13:06] ttoommmmiiee commented on #90
Hi there, I am currently working on a project that uses Omnitone and Three.js and wondering if there's any update on the issues raised in this thread. I am also encountering some glitching - even when moving quite slowly around the scene. Thanks!

[2020-08-19 19:17] gabrielwolf opened #107 "Display audio download progress"
As higher order Ambisonics files are big in size, I want the user to see the download progress.

Maybe the function `BufferList.prototype._launchAsyncLoadTaskXHR` has to be extended for this.

I added the following lines right before `xhr.send();` (line 282 in omnitone.esm.js at the time of writing)

[code]

The result is a console display of the desired values.

Has anybody advice on how to read

[2021-06-04 08:53] DavidEFritz opened #108 "Omnitone and react-three-fiber?"
Has anyone ever used omnitone in combination with react-three-fiber? We would like to try it out in our project but are not sure how this could work.

[2021-11-02 15:44] FredericoGauz opened #109 "Current Status of the Project"
Hi, I found this library recently and it seems to be what I was looking for in terms of spatial audio in web environments. However I can see it is not updated in a long time. What is the current status of the project? Is it safe to be used in current projects?

I can see that most of the commits were done by the user @hoch, will he keep maintaining the project.

Thanks in advance for the reply and

[2021-11-02 15:54] hoch commented on #109
There's nothing to update at the moment, and we welcome any PRs that improve the project.

[2021-11-02 23:17] FredericoGauz commented on #109
Ah OK good! Thanks for letting me know

On Tue, Nov 2, 2021, 12:54 PM Hongchan Choi ***@***.***>
wrote:

[2022-04-14 13:36] 0xpolarzero commented on #105
If anyone is checking this to get an answer, it worked for me using this path instead :

[code]

[2022-05-25 05:11] gschian0 opened #110 "Use with Babylon JS to play prebaked ambisonic audio"
I’m getting this error attempting to get the camera rotation from Babylon JS and copy it to the listener position in Omnitone.
uisng : [https://googlechrome.github.io/omnitone/#home](https://github.localhost/url)
`omnitone.min.js:17 Uncaught TypeError: Cannot read properties of undefined (reading '0') at Object.A.invertMatrix4 (omnitone.min.js:17:446) at z.setRotationMatrixFromCamera (omnitone.min